root { 
    display: block;    
}
* {
    /*display: inherit;*/
    margin: 0;
    padding: 0;
    border: none;
}
*+html body{
    background-color: #687073;
}
body{
    /*background-color: #000000;*/
    background-image: url(/pic/backgroundAll.png);
    background-size: cover;
     font-family: arial;
}

#header, #center, #footer, .separator, .sep, #footer>div{
    display: inline-block;
    width: 100%;
    float: left;
    /*outline: solid 1px #555555;*/
}
*+html #header, #center, #footer, .separator{
    display: inline;
    
}
#header{
    color: whitesmoke;
    font-family: arial;
    background-image: url(/pic/headerBackground.jpg);
    background-size: cover;/**/
}
#center{
    /*background-color: #969696;*/
}
#center .dark{
    background-color: black;
}
.centerCol{
    display: inline-block;
    /*background-color: darkcyan;*/
    width: 65%;
    float: left;
}

.leftCol, .rightCol
{
    float: left;
    width: 17.5%;/**/
    height: 100%;
    min-height: 1px;
    display: inline-block;
    /*background-color: yellowgreen;*/
}
*+html .centerCol, .leftCol, .rightCol{
    display:inline;
}
.button:hover{
    cursor: pointer;
}
/*-----------  Top Menu  ----------------------------------*/
#topMenu{
    
    display: block;
    border-radius:0px 0px 14px 14px;
    /*border: solid 1px black;*/
    background-color: #0d2a34;
    padding: 4px 15px 4px 15px;
    box-shadow: black 2px 2px 10px, gray 0 0 5em;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    font-size: 11px;   
}
#topMenu *{
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 1%;/**/
    
}
#topMenu div:not(.button){
    display: inline;
    /*float: left;/**/
    /*margin:-2px;
    width: 50%;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*border:solid #000000;*/
}

a{
    display: inline-block;
    color: whitesmoke;
    text-decoration:none;
    text-align: justify;
}
#topMenu a:hover{
    text-decoration: underline;
}
#topMenu .button{
    color: white;
    padding: 1px;
    display:inline-block;
    border: solid 2px #285F74;
    border-radius: 6px;
    min-width: 76px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
}

*+html #topMenu .button{
    display:inline;
}
*+html #topMenu div{
    display:inline;
}
*+html #topMenu a{
    display:inline;
}
.separator{
    width: 100%;
    height: 3px;    
    background-image: url(/pic/separatorBigHorizontal.png);
    background-size: contain;
    /*display: inline-block;*/
    /*position: absolute;*/
    
}
/*-------------------  Main Menu  ---------------------------------------------*/
#mainMenu {
    text-align: center; 
    margin-bottom: 15px;
}
#mainMenu .button{
    padding: 3px;
    display:inline-block;    
    width: 8%;
    min-width: 50px;    
    text-align: center;
    margin: 2px;
}
*+html #mainMenu .button{
    display:inline;
}
#mainMenu .button:hover{
    
    border-radius: 6px;
    /*box-shadow: white 2px 2px 10px, white 0 0 5em;*/
    text-shadow: white 2px 2px 5px, white 0 0 10em;
}
#mainMenu .button.active{
    border: solid 2px #285F74;    
    background-color: #0d2a34;
    border-radius: 6px;
    margin: 0;    
    text-shadow: none;
    box-shadow: none;
}
/*-----------------Header Content--------------------------------------------*/

#headerContent{
    padding: 25px 0 25px 0;
    text-align: right;
    
    background: url(/pic/logo.png) no-repeat 5% 30%;
}
#headerContent div{
    /*border: solid 2px #285F74;    */
    display: inline-block;
    border-radius: 6px;
    margin: 10px 0 10px 0;       
    text-shadow: none;
    box-shadow: black 2px 2px 5px, black 0 0 2em;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    float: top;
}
*+html #headerContent div{
    display:inline;
}
#headerContent .firstText{
    
    font-size: 30px; 
    background-color: #285F74;
    padding: 8px;
}
#headerContent .secondText{
    font-size: 20px; 
    background-color: #34728B;
    padding: 5px;
}
/*---------------- dropdownMenu ------------------------------------------------------------*/
#topMenu .dropdownMenu{
    /*top: 10px;*/
    position: absolute;
    border-radius:0px 0px 8px 8px;
    border: solid 2px #6B93A5;
    border-top-width: 0;
    background-color: #285F74;
    padding: 4px 15px 4px 15px;
    box-shadow: black 2px 2px 10px/*, gray 1em 1em 5em*/;    
    font-size: 12px;     
    width: 210px;
    text-align: right;
    display: none;
    z-index: 100;
}
#topMenu .dropdownMenu>div{
    display: block;
    text-align: right;
    /*outline: #000000 solid 1px;*/
}
.dropdownMenu input{
    display: inline;
    border-radius: 6px;
    width: 120px;
    height: 25px;
    background-color: #729CB0;
    border: solid 1px #729CB0 ;
    /*color: #4A6B7E;*/
}
.dropdownMenu .wrongInput{
    color: red;
    font-size: 10px;
    visibility: hidden;
    /*display: block;*/
}
#topMenu .dropdownMenu .caption{
    display: inline-block;
    width: 60px;
}
*+html #topMenu .dropdownMenu .caption{
    display: inline;
}
*+html #topMenu .dropdownMenu .wrongInput{
    display: block;
}
#topMenu .dropdownMenu .centered{
    text-align: center;
}
#topMenu .dropdownMenu .button{
    border: solid #6B93A5 2px;
    background-color: #104255;
    
}
#language input{
    background-color: transparent;
    border:none;
    color:white;
    width: 80px;
    text-align: left;
} 
#topMenu #language{
    width: 90px;
    text-align: right;
}
/*-------------------------------footer---------------------------------------------------------*/
#footer .references{
    width: 100%;
    padding: 5px;
}
.references{
    margin: 0 0 15px 0;
}
.references .cont a{
    margin-right: 10px;
}
.references .title{
    color: whitesmoke;
    font-size: 25px;
    padding: 10px 10px 10px 0;
}
.half{
    width: 50%;
    float: left;
    /*display: inline;*/
}
#footer{
    background-color: #090909;
    color: #969696;
    font-size: 12px;
}
#footer .half .cont{
    /*border-left: solid 1px #687073;*/
    padding: 10px 0px 10px 15px;
}
#footer .navigation{
    display: block;
    /*border-top: solid 5px #6B93A5;
    border-bottom: solid 5px #6B93A5;*/
}
#footer .navigation>div{
    display: inline;
    float: left;
    width: 33%;
    text-align: center;
}

#footer .navigation div div div{
    display: inline;
    text-align: left;
}
#nav1{
    /*text-align: left;*/
    float:left;
}
#nav2{
    /*text-align: center;*/
    /*float: right;*/
}
#nav3{
    float:right;
    /*text-align: right;*/
}
#footer .navigation a{
    font-size: 12px;
    color: #6A6A6A;
    
}
#footer .navigation h2 a{
    font-size: 13px;
    color: whitesmoke;   
}
#footer .navigation ul{
    list-style-type: none;
    /*text-align: left;*/
}
#footer .sep{
    width: 100%;
    height: 1px;
    background-color: #104255;
}
#footer>div:not(.sep){
    padding-top: 15px;
    padding-bottom: 15px;
}
#footer .copyright>a{
    margin-right: 5px;
}
#footer .copyright>div{
    display: inline;
}
#footer .additionInfo{
   font-size: 10px;
}
/*--------------------- Center Menu -----------------------------------------*/
#smallContainer, .bigMenuItem{
    display: inline;
    float: left;
    /*background-color: #969696;*/
}
#smallContainer{
    width: 60%;
}
#center .bigMenuItem{
    width: 40%;
    height: 384px;
    margin: 12px 0 12px 0;
    border-radius: 10px;
    /*background-color: burlywood;*/
    box-shadow: black 2px 2px 10px, black 0 0 5em;
    min-width: 300px;
}
#smallContainer .smallMenuItem{
    margin: 12px 4.2% 12px 0;
    border-radius: 10px;
    display: inline;
    float: left;
    height: 180px;
    width: 29%;
    /*background-color: black;*/
    min-width: 120px;
    box-shadow: black 2px 2px 10px, gray 0 0 5em;
    cursor: pointer;
}
#smallContainer .menuTitle{
    background-color: #204D60;
    margin: 10px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 14px;
    box-shadow: black 2px 2px 10px, gray 0 0 5em;
    color: whitesmoke;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
}
#sm1{
    background-image: url(/pic/centralMenu/pokerVsCasino.png);
    background-size: cover;
}
#sm2{
    background-image: url(/pic/centralMenu/pokerVsPeople.png);
    background-size: cover;
}
#sm3{
    background-image: url(/pic/centralMenu/rates.png);
    background-size: cover;
}
#sm4{
    background-image: url(/pic/centralMenu/slots.png);
    background-size: cover;
}
#sm5{
    background-image: url(/pic/centralMenu/online.png);
    background-size: cover;
}
#sm6{
    background-image: url(/pic/centralMenu/gamesVsCasino.png);
    background-size: cover;
}
#center .bigMenuItem .bigMenuTop{
    border-radius: 10px 10px 0 0;
    height: 13%;
    background-color: #204D60;
    color: #D0E0E4;
    font-size: 34px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    text-shadow: black 2px 2px 10px, gray 0 0 5em;
}
#center .bigMenuItem .bigMenuCenter{
    height: 53%;
    background-image: url(/pic/centralMenu/registration.png);
    background-size: cover;
    padding-top: 30px; 
}
#center .bigMenuItem .bigMenuCenter div div{
    background-color: #275E73;
    box-shadow: black 2px 2px 10px, black 0 0 2em;
    float: left;/**/
    margin-top: 15px;
    margin-right: 50px;
    padding: 5px 20px 5px 50px;
    color: whitesmoke;
    /*display: block;*/
    font-size: 20px;
    /*border-radius: 0 6px 6px 0;*/
}
#center .bigMenuItem .bigMenuCenter>div{
    display: block;
    width: 100%;
    height: 60px;
    /*background-color: burlywood;*/
}
#center .bigMenuItem .bigMenuBottom{
    
    background-color: #204D60;
    text-align: center;
    
    border-radius: 0 0 10px 10px;
    padding: 30px 40px 0px 40px;
    height: 15%;
}
#center .bigMenuItem .button{
    margin: 0;
    color: white;
    padding: 5px 5px 5px 5px;/**/
    /*display:inline-block;*/
    border: solid 2px #729CB0;
    border-radius: 6px;
    min-width: 100px;
    text-align: center;
    font-size: 20px;
    background: #153847;
    background: -moz-linear-gradient(top,#729CB0  0%, #153847 100%);
    background: -webkit-linear-gradient(top, #729CB0 0%, #153847 100%);
    background: -o-linear-gradient(top, #729CB0 0%, #153847 100%);
    background: -ms-linear-gradient(top, #729CB0 0%, #153847 100%);
    background: linear-gradient(top, #729CB0 0%, #153847 100%);
}
/**+html #center .bigMenuItem,*+html #smallContainer .smallMenuItem{
    border-bottom: solid black 2px;
    border-right: solid black 2px;
}*/
/*---------------------------------*/
#center .centerCol{
    color: whitesmoke;
    font-size: 13px;
    margin: 40px 0;
}
#center .centerCol ul{
    margin: 30px 0 30px 0;
}