<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
  
    <context:component-scan base-package="com.pokerweb" />	
<!--Public resources -->
    <http pattern="/js/**" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/pic/**" security="none"/>
    <http pattern="/WEB-INF/classes/**" security="none"/>
    <http pattern="/WEB-INF/**" security="none"/>
    <http pattern="/AjaxController" security="none"/>
    <http pattern="/ConfirmRegistration" security="none"/>
    <http pattern="/RegisterUser" security="none"/>
    
    <http auto-config="true" access-denied-page="/">
        <intercept-url pattern="/game" access="ROLE_USER,ROLE_ADMIN,ROLE_MANAGER" />
        <intercept-url pattern="/game.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_MANAGER" />
        <intercept-url pattern="/PrivateArea.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_MANAGER" />
        <intercept-url pattern="/PrivateArea" access="ROLE_USER,ROLE_ADMIN,ROLE_MANAGER" />
        <intercept-url pattern="/Holdem" access="ROLE_USER,ROLE_ADMIN,ROLE_MANAGER" />
        <intercept-url pattern="/HoldemUserGame.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_MANAGER" />
        <form-login 
            login-page="/"
            login-processing-url="/j_spring_security_check"
            always-use-default-target="true" default-target-url="/" 
            authentication-success-handler-ref="loginSuccessHandler" 
            authentication-failure-handler-ref="loginFailureHandler"
                    />
    </http>
    
<authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" id="passwordEncoder">
        <beans:constructor-arg value="256"/>
    </beans:bean>

    <beans:bean id="customUserDetailsService" class="com.pokerweb.service.CustomUserDetailsService"/>
   
    <beans:bean id="loginSuccessHandler" class="com.pokerweb.dao.CustomAuthenticationSuccessHandler" >
        <beans:property name="defaultTargetUrl" value="/"/>
    </beans:bean>
    <beans:bean id="loginFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler" >
        <beans:property name="defaultFailureUrl" value="/?autor=false" />
    </beans:bean>  
</beans:beans>    