root { 
    display: block;    
}
* {
    /*display: inherit;*/
    margin: 0;
    padding: 0;
    border: none;
}
*+html body{
    background-color: #687073;
}
body{
    /*background-color: #000000;*/
    background-image: url(/pic/backgroundAll.png);
    background-size: cover;
     font-family: arial;
}

#header, #center, #footer, .separator, .sep, #footer>div{
    display: inline-block;
    width: 100%;
    float: left;
    /*outline: solid 1px #555555;*/
}
*+html #header, #center, #footer, .separator{
    display: inline;
    
}
#header{
    color: whitesmoke;
    font-family: arial;
    background-image: url(/pic/headerBackground.jpg);
    background-size: cover;/**/
}
#center{
    /*background-color: #969696;*/
}
#center .dark{
    background-color: black;
}
.centerCol{
    display: inline-block;
    /*background-color: darkcyan;*/
    width: 70%;
    float: left;
}

.leftCol, .rightCol
{
    float: left;
    width: 15%;/**/
    height: 100%;
    min-height: 1px;
    display: inline-block;
    /*background-color: yellowgreen;*/
}
*+html .centerCol, .leftCol, .rightCol{
    display:inline;
}
.button:hover{
    cursor: pointer;
}
/*-----------  Top Menu  ----------------------------------*/
#topMenu{
    
    display: block;
    border-radius:0px 0px 14px 14px;
    /*border: solid 1px black;*/
    background-color: #0d2a34;
    padding: 4px 1px 4px 1px;
    box-shadow: black 2px 2px 10px, gray 0 0 5em;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    font-size: 11px;   
}
#topMenu *{
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 1%;/**/
    
}
#topMenu div:not(.button){
    display: inline;
    /*float: left;/**/
    /*margin:-2px;
    width: 50%;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*border:solid #000000;*/
}

a{
    display: inline-block;
    color: whitesmoke;
    text-decoration:none;
    text-align: justify;
}
#topMenu a:hover{
    text-decoration: underline;
}
#topMenu .button{
    color: white;
    padding: 1px;
    display:inline-block;
    border: solid 2px #285F74;
    border-radius: 6px;
    min-width: 76px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
}

*+html #topMenu .button{
    display:inline;
}
*+html #topMenu div{
    display:inline;
}
*+html #topMenu a{
    display:inline;
}
.separator{
    width: 100%;
    height: 3px;    
    background-image: url(/pic/separatorBigHorizontal.png);
    background-size: contain;
    /*display: inline-block;*/
    /*position: absolute;*/
    
}
/*-------------------  Main Menu  ---------------------------------------------*/
#mainMenu {
    text-align: center; 
    margin-bottom: 15px;
}
#mainMenu .button{
    padding: 3px;
    display:inline-block;    
    width: 8%;
    min-width: 50px;    
    text-align: center;
    margin: 2px;
}
*+html #mainMenu .button{
    display:inline;
}
#mainMenu .button:hover{
    
    border-radius: 6px;
    /*box-shadow: white 2px 2px 10px, white 0 0 5em;*/
    text-shadow: white 2px 2px 5px, white 0 0 10em;
}
#mainMenu .button.active{
    border: solid 2px #285F74;    
    background-color: #0d2a34;
    border-radius: 6px;
    margin: 0;    
    text-shadow: none;
    box-shadow: none;
}
/*-----------------Header Content--------------------------------------------*/

#headerContent{
    padding: 25px 0 25px 0;
    text-align: right;
    
    background: url(/pic/logo.png) no-repeat 5% 30%;
}
#headerContent div{
    /*border: solid 2px #285F74;    */
    display: inline-block;
    border-radius: 6px;
    margin: 10px 0 10px 0;       
    text-shadow: none;
    box-shadow: black 2px 2px 5px, black 0 0 2em;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    float: top;
}
*+html #headerContent div{
    display:inline;
}
#headerContent .firstText{
    
    font-size: 23px; 
    background-color: #285F74;
    padding: 8px;
}
#headerContent .secondText{
    font-size: 20px; 
    background-color: #34728B;
    padding: 5px;
}
/*---------------- dropdownMenu ------------------------------------------------------------*/
#topMenu .dropdownMenu{
    /*top: 10px;*/
    position: absolute;
    border-radius:0px 0px 8px 8px;
    border: solid 2px #6B93A5;
    border-top-width: 0;
    background-color: #285F74;
    padding: 4px 15px 4px 15px;
    box-shadow: black 2px 2px 10px/*, gray 1em 1em 5em*/;    
    font-size: 12px;     
    width: 210px;
    text-align: right;
    display: none;
    z-index: 100;
}
#topMenu .dropdownMenu>div{
    display: block;
    text-align: right;
    /*outline: #000000 solid 1px;*/
}
.dropdownMenu input{
    display: inline;
    border-radius: 6px;
    width: 120px;
    height: 25px;
    background-color: #729CB0;
    border: solid 1px #729CB0 ;
    /*color: #4A6B7E;*/
}
.dropdownMenu .wrongInput{
    color: red;
    font-size: 10px;
    visibility: visible;
    /*display: block;*/
}
#topMenu .dropdownMenu .caption{
    display: inline-block;
    width: 60px;
   
}
*+html #topMenu .dropdownMenu .caption{
    display: inline;
}
*+html #topMenu .dropdownMenu .wrongInput{
    display: block;
}
#topMenu .dropdownMenu .centered{
    text-align: center;
}
#topMenu .dropdownMenu .button{
    border: solid #6B93A5 2px;
    background-color: #104255;
    
}
#language input{
    background-color: transparent;
    border:none;
    color:white;
    width: 80px;
    text-align: left;
} 
#topMenu #language{
    width: 90px;
    text-align: right;
}
/*-------------------------------footer---------------------------------------------------------*/
#footer .references{
    width: 100%;
    padding: 5px;
}
.references{
    margin: 0 0 15px 0;
}
.references .cont a{
    margin-right: 10px;
}
.references .title{
    color: whitesmoke;
    font-size: 25px;
    padding: 10px 10px 10px 0;
}
.half{
    width: 50%;
    float: left;
    /*display: inline;*/
}
#footer{
    background-color: #090909;
    color: #969696;
    font-size: 12px;
}
#footer .half .cont{
    /*border-left: solid 1px #687073;*/
    padding: 10px 0px 10px 15px;
}
#footer .navigation{
    display: block;
    /*border-top: solid 5px #6B93A5;
    border-bottom: solid 5px #6B93A5;*/
}
#footer .navigation>div{
    display: inline;
    float: left;
    width: 33%;
    text-align: center;
}

#footer .navigation div div div{
    display: inline;
    text-align: left;
}
#nav1{
    /*text-align: left;*/
    float:left;
}
#nav2{
    /*text-align: center;*/
    /*float: right;*/
}
#nav3{
    float:right;
    /*text-align: right;*/
}
#footer .navigation a{
    font-size: 12px;
    color: #6A6A6A;
    
}
#footer .navigation h2 a{
    font-size: 13px;
    color: whitesmoke;   
}
#footer .navigation ul{
    list-style-type: none;
    /*text-align: left;*/
}
#footer .sep{
    width: 100%;
    height: 1px;
    background-color: #104255;
}
#footer>div:not(.sep){
    padding-top: 15px;
    padding-bottom: 15px;
}
#footer .copyright>a{
    margin-right: 5px;
}
#footer .copyright>div{
    display: inline;
}
#footer .additionInfo{
   font-size: 10px;
}
/*--------------------- Center Menu -----------------------------------------*/
#smallContainer, .bigMenuItem{
    display: inline;
    float: left;
    /*background-color: #969696;*/
}
#smallContainer{
    width: 60%;
}
#center .bigMenuItem{
    width: 40%;
    height: 384px;
    margin: 12px 0 12px 0;
    border-radius: 10px;
    /*background-color: burlywood;*/
    box-shadow: black 2px 2px 10px, black 0 0 5em;
    min-width: 300px;
}
#smallContainer .smallMenuItem{
    margin: 12px 4.2% 12px 0;
    border-radius: 10px;
    display: inline;
    float: left;
    height: 186px;
    width: 29%;
    /*background-color: black;*/
    min-width: 120px;
    box-shadow: black 2px 2px 10px, gray 0 0 5em;
    cursor: pointer;
}
#smallContainer .menuTitle{
    background-color: #204D60;
    margin: 10px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 14px;
    box-shadow: black 2px 2px 10px, gray 0 0 5em;
    color: whitesmoke;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
}
#sm1{
    background-image: url(/pic/centralMenu/pokerVsCasino.png);
    background-size: cover;
}
#sm2{
    background-image: url(/pic/centralMenu/pokerVsPeople.png);
    background-size: cover;
}
#sm3{
    background-image: url(/pic/centralMenu/rates.png);
    background-size: cover;
}
#sm4{
    background-image: url(/pic/centralMenu/slots.png);
    background-size: cover;
}
#sm5{
    background-image: url(/pic/centralMenu/online.png);
    background-size: cover;
}
#sm6{
    background-image: url(/pic/centralMenu/gamesVsCasino.png);
    background-size: cover;
}
#center .bigMenuItem .bigMenuTop{
    border-radius: 10px 10px 0 0;
    height: 13%;
    background-color: #204D60;
    color: #D0E0E4;
    font-size: 34px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    text-shadow: black 2px 2px 10px, gray 0 0 5em;
}
#center .bigMenuItem .bigMenuCenter{
    height: 63%;
    background: url("/pic/centralMenu/registration.png") no-repeat 100% 100%;
    background-size: cover;
    padding-top: 30px; 
}
#center .bigMenuItem .bigMenuCenter div div{
    background-color: #275E73;
    box-shadow: black 1px 1px 1px, black 0 0 1px;
    float: left;/**/
    margin-top: 15px;
    margin-right: 50px;
    padding: 5px 20px 5px 50px;
    color: whitesmoke;
    /*display: block;*/
    font-size: 20px;
    /*border-radius: 0 6px 6px 0;*/
}
#center .bigMenuItem .bigMenuCenter>div{
    display: block;
    width: 100%;
    /*background-color: burlywood;*/
}
#center .bigMenuItem .bigMenuBottom{
    
    background-color: #204D60;
    text-align: center;
    
    border-radius: 0 0 10px 10px;
    padding: 10px 40px 0px 40px;
    height: 13%;
}

#center .bigMenuItem .button{
    margin: 0;
    color: white;
    padding: 5px 5px 5px 5px;/**/
    /*display:inline-block;*/
    border: solid 2px #729CB0;
    border-radius: 6px;
    min-width: 100px;
    text-align: center;
    font-size: 20px;
    background: #153847;
    background: -moz-linear-gradient(top,#729CB0  0%, #153847 100%);
    background: -webkit-linear-gradient(top, #729CB0 0%, #153847 100%);
    background: -o-linear-gradient(top, #729CB0 0%, #153847 100%);
    background: -ms-linear-gradient(top, #729CB0 0%, #153847 100%);
    background: linear-gradient(top, #729CB0 0%, #153847 100%);
}

.errorMessage{
    color: red;
    visibility: visible !important;
    font-size: 12px;
    display: block !important;
}
/**+html #center .bigMenuItem,*+html #smallContainer .smallMenuItem{
    border-bottom: solid black 2px;
    border-right: solid black 2px;
}*/
/*---------------------------------*/
#center .centerCol{
    color: whitesmoke;
    font-size: 13px;
/*    margin: 40px 0;*/
}
#center .centerCol ul{
    margin: 30px 0 30px 0;
}



/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    
 
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/pic/ajax-loader.gif') 
                50% 50% 
                no-repeat; 
}

.ui-tabs-vertical { 
    width: 100%; 
    background: #285F74; 
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 15em; 
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
    background: #285F74;
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
   background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
    color: white;
}
.ui-tabs-vertical .ui-tabs-panel { 
    padding: 1em;
    float: left;
    color: white;
    text-align: center;
}

.tableArea{
    text-align: left;
}

#PrivatArea{
width: 99.2%;
color: white !important;
}

#PrivatArea .button{
    color: white;
    padding: 1px;
    display:inline-block;
    border: solid 2px #285F74;
    border-radius: 6px;
    min-width: 76px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
}

.table1{
    float:left;
    background-image: url(/pic/table1.png);
    background-position: left; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    /*background-size: 80%;*/
    width: 440px;
    height: 300px;
}
.table2{
    float:left;
    background-image: url(/pic/table2.png);
    background-position: left; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    /*background-size: 80%;*/
    width: 440px;
    height: 300px;
}
.table3{
    float:left;
    background-image: url(/pic/table3.png);
    background-position: left; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    /*background-size: 80%;*/
    width: 440px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Stable1{
    float:left;
    background-image: url(/pic/table.png);
    background-position: left; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: 90%;
    width: 250px;
    height: 160px;
}
.Stable2{
    float:left;
    background-image: url(/pic/table.png);
    background-position: left; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: 90%;
    width: 250px;
    height: 160px;
}
.Stable3{
    float:left;
    background-image: url(/pic/table.png);
    background-position: center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: 90%;
    width: 250px;
    height: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tableNumber{
    opacity: 0.4;
    background: #000000; /* Цвет фона */
    font-size: 20px;
    color: white;
    width: 60px;
    height: 50px;
    margin-left: 11px;
    text-align: center;
    border-radius: 8px 10px 10px 8px;
    margin-top: 5px;
    float: left;
}

.StableNumber{
    opacity: 0.4;
    background: #000000; /* Цвет фона */
    font-size: 15px;
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 7px;
    text-align: center;
    border-radius: 8px 10px 10px 8px;
    margin-top: 9px;
    float: left;
}

#menuGame{
    display: block;
    border-radius:0px 0px 14px 14px;
    /*border: solid 1px black;*/
    background-color: #0d2a34;
    padding: 4px 1px 4px 1px;
    box-shadow: black 2px 2px 10px, gray 0 0 5em;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    font-size: 11px;   
    height: 45px;
}
#menuGame *{
    vertical-align: middle;
}
#menuGame .button{
    color: white;
    padding: 1px;
    display:inline-block;
    border: solid 2px #285F74;
    border-radius: 6px;
    min-width: 76px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);

}

#table .button{
    color: white;
    padding: 1px;
    border: solid 2px #285F74;
    border-radius: 6px;
    min-width: 10px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
    margin-left: 20px;
    float: left;
    position: absolute;
    margin-top: 50px;
}

.flop{
    float: left;
    background-image: url(/pic/flop.png);
    background-repeat: no-repeat; /* Отменяем повторение фона */
    width: 42px;
    height: 67px;
    margin-left:5px;
    /*border: 1px solid rgb(54, 76, 92);*/
}
.tern{
    float: left;
    background-image: url(/pic/tern.png);
    background-repeat: no-repeat; /* Отменяем повторение фона */
    width: 42px;
    height: 67px;
    margin-left:5px;
    /*border: 1px solid rgb(54, 76, 92);*/
}
.river{
    float: left;
    background-image: url(/pic/river.png);
    background-repeat: no-repeat; /* Отменяем повторение фона */
    width: 42px;
    height: 67px;
    margin-left:5px;
    /*border: 1px solid rgb(54, 76, 92);*/
}

.Sflop{
    float: left;
    background-image: url(/pic/flop.png);
    background-repeat: no-repeat; /* Отменяем повторение фона */
    width: 27px;
    height: 43px;
    margin-left:2px;
    background-size: 100%;
}
.Stern{
    float: left;
    background-image: url(/pic/tern.png);
    background-repeat: no-repeat; /* Отменяем повторение фона */
   width: 27px;
    height: 43px;
    margin-left:2px;
    background-size: 100%;
}
.Sriver{
    float: left;
    background-image: url(/pic/river.png);
    background-repeat: no-repeat; /* Отменяем повторение фона */
    width: 27px;
    height: 43px;
    margin-left:2px;
    background-size: 100%;
}

.TableCart{
    float: left;
    margin-left: 90px;
    margin-top: 25px;}


.STableCart{
    float: left;
    margin-left: 10px;
    
}

.TableUserCart{
    float: left;
    background-image: url(/pic/ClearSubstrate.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 65px;
    /*background-size: cover;*/
    border: solid #364c5c 1px;
}

.STableUserCart{
    float: left;
    background-image: url(/pic/ClearSubstrate.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 44px;
    background-size: cover;
}

.progressbar-cover {
 position: absolute;
 display: block;
 width: 5px;
 height: 25px;
 border: 0;
 left: 0;
 bottom: 0%;
 background: url(/pic/indicator.png) repeat-x scroll 0 0 transparent;
}

.progressbar {

 position: relative;
} 
.progressbar-value {
font-family: Segoe UI,Arial,sans-serif;
 position: absolute;
 display: block;
 margin: 0;
 border: 0;
 width: 5px;
 height: 25px;
 top: 55px;
 overflow: hidden;
 text-indent: -30px;
 background: url(/pic/fullindicator.png) repeat scroll center center #0f0;
 right: 0px;
}

.Sprogressbar-value {
font-family: Segoe UI,Arial,sans-serif;
 position: absolute;
 display: block;
 margin: 0;
 border: 0;
 width: 5px;
 height: 25px;
 top: 15px;
 overflow: hidden;
 text-indent: -30px;
 background: url(/pic/fullindicator.png) repeat scroll center center #0f0;
 right: 0px;
}

.ui-progressbar {
	height: 10px;
        width: 50px;
	overflow: hidden;
        background:white !important;
        float:left;
        height: 15px;
        width: 150px;
        margin-top: 10px;
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}

.ui-progressbar .ui-progressbar-overlay {
	background: url("images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}

.ui-progressbar-indeterminate .ui-progressbar-value {
	background:white !important;
        
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #49a6e8 !important; //url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x !important;
	color: rgb(73,166,232) !important;
	font-weight: bold;
}

.SmallLogo{
    background-image: url(/pic/texas-holdem-logo.png);
    float:left;
     background-repeat: no-repeat;
     width: 62px;
     height: 49px;
}

.TableUser{
    width: 95px;
    float: left;
    text-align: center;
    height: 80px;
}

.STableUser{
    width: 60px;
    float: left;
    text-align: center;
    height: 50px;
}

.UserRate{
    float: left;
    position: absolute;
    margin-top: 50px;
}

.UserNumber{
    color: white;
    font-size: 12px;
    margin-top: 75px;
    margin-top: 80px;
}
.SUserNumber{
    color: white;
    font-size: 11px;
    margin-top: 45px;
}

.BetTable{
    float:left;
    width: 400px;
    height: 250px;
    background-image: url('/pic/backgroundStatisticBlock.png');
    background-size: cover;
    margin-top: 30px;
    border-radius: 6px;
}

.SBetTable{
    float:left;
    width: 200px;
    height: 150px;
    background: #2f4554;
    margin-top: 30px;
    border-radius: 6px;
    margin-left: 20px;
}
.BetTableInfoTop{
    background: #1e2d37;
    border-radius: 6px 6px 0px 0px;
    width: 400px;
    height: 30px;
    color: white;
}
.BetTableColumn{
    background: #1e2d37;
    /*border-radius: 6px 6px 0px 0px;*/
    width: 400px;
    height: 20px;
    color: white;
    margin-top: 10px;
}
.BetTableSettings{
    width: 400px;
    height: 40px;
}

.niceCheck {
width: 10px;
height: 10px;
display: inline-block;
cursor: pointer;
background: url(/pic/CheckExpress.png);
background-repeat: no-repeat;
margin-left: 4px;
margin-bottom: 1px;
}
.niceCheck input {
display: none;
}

.ExpressBetElipse{
    background: url(/pic/CheckExpressElipse.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    float: left;
}

.ExpressBet{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.ButtonExpressBetSum{
    color: white;
    padding: 1px;
    /*border: solid 2px #285F74;*/
    border-radius: 6px;
    min-width: 30px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
    background: -webkit-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
    background: -o-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
    background: -ms-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
    background: linear-gradient(top, #49a6e8 0%, #4281a9 100%);
    margin-left: 10px;
    float: left;
    margin-top: 10px;
    cursor: pointer;
}

.ButtonExpressBetEnter{
    color: white;
    padding: 1px;
    /*border: solid 2px #285F74;*/
    border-radius: 6px;
    min-width: 30px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #d52711 0%, #d76255 100%);
    background: -webkit-linear-gradient(top, #d52711 0%, #d76255 100%);
    background: -o-linear-gradient(top, #d52711 0%, #d76255 100%);
    background: -ms-linear-gradient(top, #d52711 0%, #d76255 100%);
    background: linear-gradient(top, #d52711 0%, #d76255 100%);
    margin-left: 10px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.TableUserCheck {
width: 50px;
height: 20px;
display: inline-block;
cursor: pointer;
position: absolute;
float: left;
left: 0px;
}
.STableUserCheck {
width: 20px;
height: 10px;
display: inline-block;
cursor: pointer;
position: absolute;
float: left;
left: 0px;
}
.STableUserCheck input {
display: none;
}

.TableUserCheck input {
display: none;
}

.TableUserFactor{
width: 50px;
height: 20px;
position: absolute;
float: left;
margin-left: 20px;
margin-top: 55px;
color:whitesmoke;
font-weight: 700;
}
.STableUserFactor{
width: 35px;
height: 20px;
position: absolute;
float: left;
margin-left: 10px;
margin-top: 25px;
color:black;
font-weight: 700;
font-size: 13px;
}
.TableUserCheckBackground{
/*background: -moz-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);*/
/*background: -webkit-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);*/
/*background: -o-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);*/
/*background: -ms-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);*/
/*background: linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);*/
float: left;
width: 50px;
border-radius: 3px;
}
.STableUserCheckBackground{
background: -moz-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);
background: -webkit-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);
background: -o-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);
background: -ms-linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);
background: linear-gradient(top, #A9A9A9 0%, #C0C0C0 100%);
float: left;
width: 100%;
border-radius: 3px;
}

.ui-dialog {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	outline: 0;
        border-radius: 6px 6px 0px 0px !important;
        z-index: 1001;
        border: solid #447b9e;
        box-shadow: 0px 0px 15px 5px #447b9e;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0;
	position: relative;
        background-color: #1e2d37;
        border-radius: 6px 6px 0px 0px !important;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: 0 !important;
	white-space: nowrap;
	width: 100%;
        height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
        background-color: #1e2d37;
        color: white;
        border-radius: 6px 6px 0px 0px !important;
        
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	margin: -10px 0 0 0;
	padding: 1px;
        background-image: url("/pic/CloseButt.png");
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0 !important;
	padding: 0em 0em !important;
	background: #3b596c !important;
	overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}

.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.Calculator{
    display: none;
}

.CalculatorDisplay{
    background-color: white;
    border-radius: 7px;
    color: red;
    font-size: 15px;
    width: 250px;
    height: 60px;
    margin-left: 20px;
    box-shadow: inset 3px 3px 4px 1px gray;
    background: #d7d7d7;
    margin-top: 10px;
}

.ui-draggable .ui-dialog-titlebar {
    font-size: 11px;
}


.CalcButt{
    float:left;
    background: -moz-linear-gradient(top, #49a6e8 0%, #4280a8 100%);
    background: -webkit-linear-gradient(top, #49a6e8 0%, #4280a8 100%);
    background: -o-linear-gradient(top, #49a6e8 0%, #4280a8 100%);
    background: -ms-linear-gradient(top, #49a6e8 0%, #4280a8 100%);
    background: linear-gradient(top, #49a6e8 0%, #4280a8 100%);
    width: 70px;
    height: 70px;
    color: white;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
}

.CalcButtAppend{
    background: -moz-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
background: -webkit-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
background: -o-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
background: -ms-linear-gradient(top, #49a6e8 0%, #4281a9 100%);
background: linear-gradient(top, #49a6e8 0%, #4281a9 100%);
float: left;
width: 80px;
border-radius: 3px;
cursor: pointer;
}

.CartsUser{
    display: inline-block;
    float: left;
}

.modalDialog {
	position: fixed;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


#menuGame .dropdownMenu{
    /*top: 10px;*/
    position: absolute;
    border-radius:0px 0px 8px 8px;
    border: solid 2px #6B93A5;
    border-top-width: 0;
    background-color: #285F74;
    padding: 4px 15px 4px 15px;
    box-shadow: black 2px 2px 10px/*, gray 1em 1em 5em*/;    
    font-size: 12px;     
    width: 100px;
    text-align: right;
    display: none;
    z-index: 100;
}
.modalCalc {
    position:   fixed;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .8 ) 
}
.payEnter{
display: table-cell;
font-family: "Helvetica Neue","Arial";
font-size: 12px;
font-weight: bold;
height: 88px;
text-align: center;
width: 100%;
vertical-align: middle;
color: rgb(59, 81, 96);
text-decoration: none;
}
