.ui-tabs-vertical { 
    width: 55em; 
    background: #285F74; 
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 15em; 
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
    background: #285F74;
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
    color: white;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
   background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
    color: white;
}
.ui-tabs-vertical .ui-tabs-panel { 
    padding: 1em;
    float: left;
    color: white;
    text-align: center;
}

.tableArea{
    text-align: left;
}

#PrivatArea{
margin:0 20%;
color: white !important;
}

#PrivatArea .button{
    color: white;
    padding: 1px;
    display:inline-block;
    border: solid 2px #285F74;
    border-radius: 6px;
    min-width: 76px;
    text-align: center;
    background: #000000;
    background: -moz-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -webkit-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -o-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: -ms-linear-gradient(top, #285F74 0%, #0d2a34 100%);
    background: linear-gradient(top, #285F74 0%, #0d2a34 100%);
}


